<div class="confirmation-box col-md-4">
  <div class="listing-price">
    <div class="form-group">
      <h4>$<%= @boat.price %></h4>
      <p>per day plus service fees</p><br>


      <%= simple_form_for [@boat, @booking] do |f| %>
        <%= render 'calendar'%>

        <%= f.label :Include_captain %>
        <%= f.select :captain, options_for_select([["Please select one", ""], "Yes", "No"]) %>
        <br><br>
        <%= f.label :party_size %>
        <%= f.select :number_of_guests, options_for_select([["Please select one", ""], 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]) %>

        <h5>Subtotal: <strong>$<%= @boat.price %></strong></h5><br>

        <%= f.submit "Request to book", class: "btn btn-danger form-control" %>
        <br><br>
        <p class="text-center" style="color: grey">You won't be charged yet</p>
        <p class="text-center" style="color: grey">-- Or --</p>
        <%= f.submit "Contat owner", class: "btn btn-primary form-control" %>
      <% end %>
    </div>
  </div>
</div>
