<div class="container-listing">
  <br>
  <h2><strong>Congratulations, your booking has been confirmed!</strong></h2><br>
  <h3><strong>Your trip details</strong></h3><br>

  <strong>Start Date: <%= @booking.start_date %></strong> | <strong>End Date: <%= @booking.end_date %></strong>

  <h4><strong><%= @booking.boat.title %></strong></h4>
  <p>Location: <%= @booking.boat.address %></p>
  <p><%= @booking.boat.description %></p>

  <div class="booking-image"><br>
    <img src=<%= @booking.boat.photo %> alt="Your Boat photo" width="1000" class="img-responsive">
  </div>
</div>
