<%= render 'image' %>

<div class="container-listing">
  <div class="row listing-content">
    <!-- Details box -->
    <div class="listing col-md-8">
      <div class="listing-title">
        <h3><strong><%= @boat.title %></strong></h3>
        <p><%= @boat.address %></p>
      </div><br>

      <div class="listing-details">
        <div class="row-content">
          <div class="col-xs-3">
            <p><strong>Highlights</strong></p>
          </div>

          <div class="col-xs-9">
              <%= @boat.description %>
          </div>
        </div>
        <br><br>
      </div>

      <div class="listing-reviews">
        <%= render 'reviews' %>
      </div>
    </div>

    <%= render 'bookings/form', boat: @boat, booking: @booking %>


    <br><br><br>
  </div>

  <!-- TODO: Add boat's location/map -->
  <div class="listing-map">
    <%= render 'map' %>
  </div>
</div>
